node_modules
**/node_modules
**/dist
**/.next
**/coverage
**/.git
**/.github
**/*.md
**/.env
**/.env.*
**/test
**/tests
**/__tests__
**/*.spec.ts
**/*.test.ts
**/playwright-report
**/test-results
docker
docs
.gitignore
